Source: ros-indigo-soem-ebox
Section: misc
Priority: extra
Maintainer: Ruben Smits <ruben@intermodalics.eu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-rtt, ros-indigo-rtt-roscomm, ros-indigo-soem, ros-indigo-soem-master
Homepage: http://wiki.ros.org/soem_master
Standards-Version: 3.9.2

Package: ros-indigo-soem-ebox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-message-runtime, ros-indigo-rtt, ros-indigo-rtt-roscomm, ros-indigo-soem, ros-indigo-soem-master
Description: This package contains the components of the soem_ebox package
